@use './_variables';

.albumListYear {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 8px;
  color: variables.$color-white;
}

.albumListAlbums {
  padding-left: 0;
  display: grid;
  grid-auto-rows: 1fr;
  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(auto-fill, 123px);
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(auto-fill, 197px);
  }
  grid-gap: 19px;
}

.albumArtist {
  color: variables.$color-gray;
}

.albumName {
  margin: {
    top: 2px;
    right: 0;
    left: 0;
    bottom: 0;
  }
  color: variables.$color-white;
}

.img {
  min-width: 100px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .albumListAlbums {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    padding: 0 0 1em;
    scroll-behavior: smooth;
  }
  .albumListAlbums .item {
    height: 100%;
    flex: 0 0 40%;
    margin: 0px 5px;
    scroll-snap-align: center;
  }
}

.imageContainer {
  position: relative;
}
.imageContainer:hover {
  .overlay {
    opacity: 0.8;
    transition: 0.3s;
  }
}
