.albumList {
    display: flex;
}

.albumListYear {
    padding: 10px;
}

.albumListAlbums {
    display: grid;
    grid-template-rows: 250px;
    /* @TODO: 一列でカルーセルにする */
    grid-template-columns: repeat(5, 250px);
}