.yearListItem {
    margin-bottom: 15px;
}

.albumListYear {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 8px;
    color: #fff;
}

.albumListAlbums {
    padding-left: 0;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 15px;
    // overflow-x: none;
}

.albumArtist,
.albumName {
    margin: 0;
    color: #cccccc;
}

.img {
    min-width: 100px;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .albumListAlbums{
       display: flex;
       overflow-x: scroll;
       -webkit-overflow-scrolling: touch;
       overflow-scrolling: touch;
       scroll-snap-type: x mandatory;
       padding:0 0 1em;
       scroll-behavior: smooth;
    }
    .albumListAlbums .item {
       height:100%;
       flex: 0 0 40%;
       margin: 0px 5px;
       scroll-snap-align:center;
    }
}